@page "{id}"
@model EDietHealth.Pages.ElderlyProfileModel
@{
    ViewData["Title"] = "Elderly Profile Page";
}

<h1>Elderly Profile Page</h1>

<div>
    <label class="col-sm-2 col-form-label">NRIC:</label>
    <label>@Model.MyElderly.NRIC</label>
</div>

<div>
    <label class="col-sm-2 col-form-label">Name:</label>
    <label>@Model.MyElderly.Name</label>

</div>
<div>
    <label class="col-sm-2 col-form-label">Birth Date:</label>
    <label>@Model.MyElderly.BirthDate.ToShortDateString()</label>
</div>


<div>
    <label class="col-sm-2 col-form-label">Gender:</label>
    <label>@Model.MyElderly.Gender</label>
</div>
<div class="col-sm-10">
    <a asp-area="" asp-page="/VolunProfile" class="btn btn-info">Back</a>
</div>
<br />
<br />

